<!-- landing page calendar view -->

<!-- add if logged in conditional -->

<!-- else render standard index below -->
<div ng-controller="cookieController as cookie">
  <% if logged_in? %>
    <div ng-view ng-init="cookie.init(<%= current_user.id %>)">
    </div>      
  <% end %>
</div>

<div class="landing-page container-fluid">
  <div class="row header">
    <a href="#about">ABOUT</a>
    <a href="#">SOCIAL</a>
    <!-- turn these two links below into modals -->
    <a href="/signup">SIGN UP</a>
    <a href="/login">LOG IN</a>
  </div>

  <div class="row header-img"></div>

  <div class="row about">
    <h4>About Floralist</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <%= image_tag("about.jpg") %>
  </div>

  <div class="footer">
    <span>&copy; 2015</span>
    <span>twitter</span>
    <span>instagram</span>
  </div>
</div>