<h1>All events</h1>

<ul>
  <% @events.each do |e| %>
    <li>
      <p>Address: <%= e.address %></p>
      <p>Date: <%= e.date %></p>
      <p>Start Time: <%= e.start_time %></p>
      <p>End Time: <%= e.end_time %></p>
    </li>
  <% end %>
</ul>