<div class="container-fluid template-container">
  <h1>Address Book</h1>

  <div class="template-header">image placeholder</div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <!-- move new client view and functionality here! -->

  <!-- this view is styled in application.css.scss -->
  <div id="client-list" ng-controller="ClientsController as clients">
  <input ng-model="searchClient" placeholder="Search for a client by name, number or email">

  <!-- need to add style to li to account for text overflow -->
    <form ng-submit="clients.addClient()" class="add-client">
      <input placeholder="first name" ng-model="clients.first_name">
      <input placeholder="last name" ng-model="clients.last_name">
      <input placeholder="email" ng-model="clients.email">
      <input placeholder="phone" ng-model="clients.phone">
      <br><input type="submit">
    </form>

    <ul id="contact-list">
      <div class="contact">
        <li class="col-md-4 contact-info" ng-repeat="client in clients.clientList | orderBy:'last_name' | filter:searchClient">
          <p id="client-name">{{ client.last_name }}, {{ client.first_name }}</p><hr>
          <p class="client-info">Email: <a href="mailto:{{ client.email }}?Subject=Hello!">{{ client.email }}</a></p>
          <p class="client-info">Phone:{{ client.phone }}</p>
          <!-- add link to edit client info -->

        </li>
      </div>
    </ul>

  </div>
</div>