<h1>Address Book</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<!-- Add client name filter here -->

<h4>Clients:</h4>
<!-- move new client view and functionality here! -->


<!-- this view is styled in application.css.scss -->
<div id="client-list" ng-controller="ClientsController as clients">
<input ng-model="searchText" placeholder="Search for a client">
  <ul>
    <div class="contact">
      <li ng-repeat="client in clients.clientList | orderBy:'name' | filter:searchText">
        <p id="client-name">{{ client.name }}</p><hr>
        <p id="client-email">Email: {{ client.email }}</p>
        <p id="client-phone">Phone:{{ client.phone }}</p>
      </li>
    </div>
  </ul>
</div>