<div class="container-fluid" ng-controller="EventsController as events">

  <div class='cal-container'>
    <div class="row" id="cal-template">
      <button type="button" class="add-new-event" data-toggle="modal" data-target="#addEventModal">Add a new event</button>
    </div>
    
    <div id='calendar'></div>
  </div>

<!-- ============= MODALS CONTENT BELOW ============ -->  <!-- ADD EVENT MODAL -->
  <div class="modal fade" id="addEventModal">
    <div class="modal-dialog">
      <div class="modal-content event-forms">

        <div class="modal-header">
          <h4 class="modal-title">Enter event information</h4>
          <h6>All fields must be input in the proper format</h6>
        </div>

        <div class="modal-body">
          <form ng-submit="events.addEvent()">
            <input placeholder="Title" ng-model="events.text">
            <input placeholder="Address" ng-model="events.address">
            <input placeholder="Date" ng-model="events.date">
            <input placeholder="Start Time" ng-model="events.start_time">
            <input placeholder="End Time" ng-model="events.end_time">
            <br><input type="submit">

          <div id="event-error"></div>
          </form>
        </div>

        <div class="modal-footer">
          <a data-dismiss="modal">Cancel</a>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<!-- END ADD EVENT MODAL -->

</div>