<h1>Address Book</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<!-- Add client name filter here -->

<div ng-controller="ClientsController as clients">

  <header>Clients</header>

  <section class="add-client">
    <input class="text-box" type="text" placeholder="Name:" ng-model="name">
    <input class="text-box" type="text" placeholder="Email:" ng-model="email">
    <input class="text-box" type="text" placeholder="Phone:" ng-model="phone">
    <button class="btn btn-add" ng-click="clients.addClient()">+</button>
  </section>

  <section class="client-list">
    <li ng-repeat="client in clients.clientList">
      
    </li>
  </section>
  
</div>