<h1>Address Book</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<!-- Add client name filter here -->

<h4>Clients:</h4>
<!-- move new client view and functionality here! -->

<div id="client-list" ng-controller="ClientsController as clients">
  <ul>
    <li ng-repeat="client in clients.clientList | orderBy:'name'">
     <p>Name: {{ client.name }}</p>
     <p>Email: {{ client.email }}</p>
     <p>Phone:{{ client.phone }}</p>
    </li>
  </ul>
</div>