<div class="users-forms">

  <div class='signup-form'>
    <div class="users-form-header">
      <button class="btn btn-primary">Update your profile</button>
    </div>
    
    <div>
      <input placeholder="Name"/>
      <input placeholder="Email"/>
      <input type="submit"/>
    </div>
     
</div>