<h1>Add a new event</h1>

<form>
  <p>Address: </p><input type="text" name="address">
  <p>Date: </p><input type="text" name="date">
  <p>Start Time: </p><input type="text" name="start_time">
  <p>End Time: </p><input type="text" name="end_time">
  <br>
  <input type="submit" value="Submit">
</form>