<h1>All events</h1>

<!-- all events view is rendering all events even without the list below ... needs to be fixed -->
<div id="event-list" ng-controller="EventsController as events">
  <ul>
    <li ng-repeat="event in events.eventList">
     <p>Address: {{ event.address }}</p>
     <p>Date: {{ event.date }}</p>
     <p>Start Time:{{ event.start_time }}</p>
     <p>End Time:{{ event.end_time }}</p>
    </li>
  </ul>
</div>