<div ng-controller="EventsController as events">
  <form ng-submit="events.addEvent()" class="add-event">
    <input placeholder="address" ng-model="events.address">
    <input placeholder="date" ng-model="events.date">
    <input placeholder="start time" ng-model="events.start_time">
    <input placeholder="end time" ng-model="events.end_time">
    <br><input type="submit">
    <div id="event-error"></div>
  </form>
</div>

<div class='cal-container'>
  <div id='calendar'></div>
</div>

<script type="text/javascript">
  function initialize() {
    document.getElementByTagName('div').style.backgroundColor="red";
  }

  $(document).ready(function() {
    // initialize the calendar on document ready 

    // calendar functions below
    $('#calendar').fullCalendar({
      // calendar functions below
      dayClick: function() {
        console.log('a day has been clicked!');
        // add new event function here
      }
    });

    // calendar options below
    // $('#calendar').fullCalendar({
    //   editable: true,
    //   eventColor: tomato,
    //   eventTextColor: white,
    //   eventLimit option may need to be changed
    //   eventLimit: true,
    //   fixedWeekCount: false,
    //   header: {
    //     left:   'title',
    //     center: '',
    //     right:  'today prev,next'
    //   }
    // });
  });

</script>

