/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
font-family: "fanwood"; 
letter-spacing: 2px;
height: 100%;
}

// nav bar for users and non-users
.nav {
  a {   
    color: #3e3e3e;
    margin: 10px;
    font-family: 'bebas';
    letter-spacing: 3px;
    text-decoration: none;
  }
  text-align: center;
  vertical-align: "text-bottom";
  margin-bottom: 20px;
}

.logout {
  color: #3e3e3e;
  margin: 10px;
  letter-spacing: 3px;
  text-decoration: none;
}

// nav bar links below are for development only
.development {
  text-align: center;
  margin-bottom: 30px;
  a {   
    color: #3e3e3e;
    margin: 10px;
    letter-spacing: 3px;
    text-decoration: none;
  }
}

// to do template
.todo-container {
  background-color: #eeeeee;
  li {
    padding: 5px;
  }
  .all-todos {
    width: 65%;
    margin: 0 auto;
    padding: 20px 0px;
    #add-todo {
      height: 100%;
      margin-bottom: 20px;
      input {
        margin-top: 10px;
      }
    }
    #todo-list {
      height: 100%;
      h5 {
      text-transform: uppercase;
      text-align: center;
      background-color: white;
      padding: 7px;
      border-radius: 5px;
      }
    }
    .done {
      text-decoration: line-through;
      color: #d3d3d3;
    }
  }
}

// address book template container
#addressbook {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 30px;
  text-align: center;
  h4 {
    text-transform: uppercase;
  }
  // address book search filter
  input {
    margin-top: 15px;
    width: 80%;
    font-family: 'fanwood';
    text-align: center;
  }
  // add new client button
  .add-new-client {
    border: none;
    margin-top: 20px;
  }
}

// address book view, client list row
#client-list {
  background-color: #eeeeee;
  text-align: center;
  height: 100%;
  ul {
    width: 80%;
    margin: 30px auto;
  }
  li {
    background-color: white;
    width: 250px;
    height: 200px;
    margin: 10px 10px;
  }
  #client-name {
    text-transform: uppercase;
    font-family: "gotham condensed";
    font-size: 1.1em;
    letter-spacing: 4px;
    padding-top: 10px;
  }
  // link to send email
  a {
    color: #000000;
    text-decoration: none;
  }
  a:hover {
    color: #9fddaa;
  }
  // edit client info 
  .editClient {
    margin-top: 20px;
    border: none;
  }
}

// style for all forms (user sign up, log in, add client, etc.)
.client-forms, .event-forms {
  text-align: center;
  // user input fields
  input {
    padding-left: 10px;
    height: 30px;
    margin: 5px;
    width: 80%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    font-family: "gotham condensed";
    font-size: .8em;
    letter-spacing: 2px;
  }
  button {
    width: 80%;
    font-family: "gotham condensed";
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 10px;
    border: none;
  }
  a {
    color: black;
  }
}

// form validation error message div
#client-error {
  width: 80%;
  margin: 0 auto;
}

// to do template



// footer for all pages and views
.footer {
  font-family: "fanwood"; 
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  bottom: 0;
  a {
    text-decoration: none;
    color: black;
  }
}

/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display: inline-block;
  float: none;
  margin-right:-4px;
}
