/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

@import "bootstrap-sprockets";
@import "bootstrap";

 body {
  font-family: "fanwood"; 
  letter-spacing: 2px;
  height: 100%;
 }

// templates/addressbook.html
// #contact-list li {
//   width: 300px;
//   height: 300px;
//   border: 1px solid black;
//   text-align: center;
//   display: inline-block;
//   margin: 10px;
// }

// address book template container
.template-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  // address book search filter
  input {
    width: 60%;
    font-family: 'fanwood';
    font-size: 16px;
    text-align: center;
    margin: 20px;
  }
  h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 20px;
  }
}

// address book header image
.template-header {
  height: 250px;
  background-color: #eeeeee;
  text-align: center;
  margin: 20px;
}

// address book content
#contact-list {
  li {
    display: inline-block;
    background-color: #eeeeee;
    width: 250px;
    height: 150px;
    margin: 30px;
    margin-top: 30px;
  }
  #client-name {
    text-transform: uppercase;
    font-family: "gotham condensed";
    font-size: 1.1em;
    letter-spacing: 4px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .client-info {
    padding: 10px;
  }
  hr {
    border-top: 3px solid #ffffff; 
  }
  // link to send email
  a {
    color: #000000;
    text-decoration: none;
  }
  a:hover {
    color: #9fddaa;
  }
}

// nav bar for users and non-users
.nav {
  a {   
    color: #969696;
    margin: 10px;
    font-family: bebas;
    letter-spacing: 3px;
    text-decoration: none;
  }
  text-align: center;
  vertical-align: "text-bottom";
  margin-bottom: 20px;
}

.logout {
  color: #969696;
  margin: 10px;
  letter-spacing: 3px;
  text-decoration: none;
}

// nav bar links below are for development only
.development {
  text-align: center;
  margin-bottom: 30px;
  a {   
    color: #969696;
    margin: 10px;
    letter-spacing: 3px;
    text-decoration: none;
  }
}

// footer for all pages and views
.footer {
  font-family: "fanwood"; 
  margin-top: 50px;
  text-align: center;
  bottom: 0;
  a {
    text-decoration: none;
    color: black;
  }
}


