// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cal-container {
  width: 65%;
  margin: 0 auto;
  height: 100%;
  vertical-align: middle;
  font-family: 'fanwood';
}

#cal-template {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  .add-new-event {
    border: none;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    background-color: white;
  }
}

#logo {
  text-align: center;
}

.logo-header {
  height: 70px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

#about {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 30px;
  text-align: center;
  h4 {
    margin-top: 10px;
    text-transform: uppercase;
  }
}

#features {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  // feature image section
  .feature {
    height: 200px;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  h4 {
    text-transform: uppercase;
  }
  p {
    width: 70%;
    margin: 0 auto;
  }
}