// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cal-container {
  width: 80%;
  margin: 0 auto;

  height: 100%;
  vertical-align: middle;

  font-family: 'ostrich sans';
}

.landing-page {
  height: 100%;
  text-align: center;
}

.header-img {
  border: 1px solid black;
  height: 500px;
  width: 100%;
}

.about {
  width: 80%;
  margin: 0 auto;
}

.statistics {
  width: 100%;
  display: inline-block;
  img {
    margin: 20px;
  }
}