// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cal-container {
  width: 80%;
  margin: 0 auto;

  height: 100%;
  vertical-align: middle;

  font-family: 'ostrich sans';
}

.landing-page {
  height: 100%;
}

.nav {
  a {
    text-decoration: none;
  }
  text-align: center;
  vertical-align: "text-bottom";
  margin-top: 60px;
  margin-bottom: 10px;
}

.header-img {
  background-image: url('euc.jpg');
  height: 500px;
  width: 100%;
}

.about {
  width: 80%;
  font-family: 'gotham condensed';
  text-align: center;
  margin: 0 auto;
}

.statistics {
  width: 100%;
  display: inline-block;
  text-align: center;
  img {
    margin: 20px;
  }
}

.footer {
  font-family: "times new roman";
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}