// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-forms {
  text-align: center;
  // cancel link on log in and sign up views
  a {
    text-decoration: none;
    color: black;
  }
  input {
    height: 25px;
    margin: 5px;
    width: 80%;
    border: none;
    border-radius: 5px;
    font-family: "gotham condensed";
    font-size: .8em;
    letter-spacing: 2px;
  }
}

// log image above user forms
.form-header {
  border: 1px solid black;
  background-color: white;
  height: 100px;
  width: 350px;
  padding: 10px;
  margin: 10px auto;
}

.signup-form, .login-form {
  width: 350px;
  margin: 10px auto;
  background-color: #eeeeee;
  padding: 10px;
  input {
    text-align: left;
    height: 30px;
  }
  #form-submit {
    text-align: center;
    background-color: #9fddaa;
  }
  // link to sign up on log in view and vice versa
  p {
    margin: 0px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
