<!DOCTYPE html>
<html ng-app>
<head>
  <title>Project4</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
{{ 1 + 2 }}
<%= yield %>

</body>
</html>
